/* backup css colours for this project */
/* main dark-black*/
.color-black-01 {
    color: #181818;
}

/* secondary main-black - main bckgrd of active page - suggestion box*/
.color-black-02 {
    color: #1f1f1f;
}

/* suggestion box - grey-borders */
.color-grey-04 {
    color: #3b3b3b;
}

/* tertiary main-black - watermark logo*/
.color-black-03 {
    color: #161616;
}

/* search bar - nav page display main-black*/
.color-black-04 {
    color: #252525;
}

/* hover border & button-blue - open remote window button - vscode logo main dark-blue*/
.color-blue-01 {
    color: #0078d4;
}

/* vscode logo light-blue*/
.color-blue-02 {
    color: #0076b9;
}

/* nav icons inactive  */
.color-grey-01 {
    color: #868686;
}

/* nav icons hoveractive */
.color-grey-02 {
    color: #d2d2d2;
}

/* grey-borders */
.color-grey-03 {
    color: #313131;
}

/* active bcgrd-grey hover nav & terminal icons hover  */
.color-grey-05 {
    color: #2c2d2d;
}

/* bash terminal-green */
.color-green-01 {
    color: #0dac6e;
}

/* bash terminal-pink */
.color-pink-01 {
    color: #b24db2;
}

/* bash terminal-yellow & tilde */
.color-yellow-01 {
    color: #d8d610;
}

/* bash terminal-blue */
.color-blue-03 {
    color: #119fc6;
}
