@import 'tailwindcss';

@theme {
    /* colourz */
    --color-*: initial;
    --color-transparent: transparent;
    --color-current: currentColor;
    --color-black-01: #181818;
    --color-black-02: #1f1f1f;
    --color-grey-04: #3b3b3b;
    --color-black-03: #161616;
    --color-black-04: #252525;
    --color-blue-01: #0078d4;
    --color-blue-02: #0076b9;
    --color-grey-01: #868686;
    --color-grey-02: #d2d2d2;
    --color-grey-03: #313131;
    --color-grey-05: #2c2d2d;
    --color-grey-06: rgb(146, 143, 143);
    --color-grey-07: #74787c;
    --color-grey-08: #2c2c2c;
    --color-green-01: #0dac6e;
    --color-pink-01: #b24db2;
    --color-yellow-01: #d8d610;
    --color-blue-03: #119fc6;

    /* fontz */
    --font-sans: 'CascadiaMono';

    /* custom sizes */
    --item-grid-cols: repeat(auto-fill, minmax(min(250px, 100%), 1fr));

    /* custom breakpointz */
    --breakpoint-lg: 67rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@utility tooltip {
    @apply border-grey-01 bg-black-02 text-grey-02 pointer-events-none invisible absolute mt-2 ml-2 rounded-sm border px-2 pt-1 pb-2 font-[inherit] text-sm leading-[10px] opacity-0 transition group-hover:visible group-hover:opacity-100;
}
@utility listitem {
    @apply border-b-grey-04 border-t-grey-04 text-grey-02 mb-[1.57rem] border-t-[1px] border-b-[1px] p-1 pr-3 text-sm hover:brightness-110;
}

@layer base {
    html,
    pre {
        font-family: 'CascadiaMono', system-ui, sans-serif;

        src: local('CascadiaMono'), url('./assets/fonts/CascadiaMono.ttf');
    }
}
