@import 'tailwindcss';

@media (width <= 40rem) {
    html {
        font-size: 12px;
    }
}

/* darkmode/landing colourz */
:root {
    /* main page navigation */
    --link-inactive: #c3c3c3ed;
    --link-inactive-bg-hover: #3b3b3b;
    --link-inactive-txt-hover: #efeaea;
    --link-active: #efeaea;

    --blue-01: #0078d4;
    --blue-02: #0076b9;
    --blue-03: #119fc6;
    --black-01: #181818;
    /* ^ v keep same colorz here */
    --black-01b: #181818;
    --black-02: #1f1f1f;
    --black-02b: #212121;
    --black-03: #161616;
    --black-04: #252525;
    --grey-01: #868686;
    --grey-02: #d2d2d2;
    --grey-02b: #efeaea;
    --grey-02c: #efeaea;
    --grey-03: #313131;
    --grey-04: #3b3b3b;
    --grey-04b: #4a4a4a;
    --grey-04c: #383838;
    --grey-05: #2c2d2d;
    /* nav arrows / toggle panel iconz */
    --grey-06: #868686;
    --grey-06b: #9d9595;
    --grey-07: #74787c;
    --grey-08: #2c2c2c;
    --grey-09: #c3c3c3ed;
    --green-01: #0dac6e;
    --pink-01: #b24db2;
    --red-01: #f04e1f;
    --yellow-01: #d8d610;
}

/* light mode colourz */
.light {
    /* main page navigation */
    --link-inactive: #c3c3c3ed;
    --link-inactive-bg-hover: #7f7d79;
    --link-inactive-txt-hover: #efeaea;
    --link-active: #0e0909;
    /* remote button */
    --blue-01: #ac9d57;
    --blue-02: #957e48;

    /* header sidebar etc. */
    /* --black-01: #ddd6c1; */
    --black-01: #ddd6c1;
    /* --black-01: red; */
    /* Explorer sub menu/filter */
    --black-01b: #eee8d5;
    /* main section content */
    --black-02: #fdf6e3;
    --black-02b: #b7b1a2;

    /* --grey-01: #b0a78d; */
    --grey-01: #5e5d5cc2;

    --grey-02: #3a3012aa;
    /* --grey-02b: #d7d3ca; */
    --grey-02b: #6d6c6a;
    --grey-03: #e2dcca;
    /* --grey-04: #d9d4c5; */
    --grey-04: #52514f38;
    /* --grey-04: red; */

    /* tooltip outline */
    --grey-04b: #c0c0c0;
    --grey-04c: #e0dac9;
    --grey-05: green;
    --grey-06: #7f7d79;

    --grey-06b: #605b50;
    --grey-07: #d7d3ca;
    /* hover bg */
    --grey-08: #86868633;
    /* tooltip text */
    --grey-09: rgba(58, 48, 18, 0.665);
}

@theme {
    /* colourz */
    /* main page navigation */
    --color-*: initial;
    --color-transparent: transparent;
    --color-current: currentColor;

    --color-link-inactive: var(--link-inactive);
    --color-link-inactive-bg-hover: var(--link-inactive-bg-hover);
    --color-link-inactive-hover: var(--link-inactive-txt-hover);
    --color-link-active: var(--link-active);

    --color-blue-01: var(--blue-01);
    --color-blue-01c: var(--blue-01);
    --color-blue-02: var(--blue-02);
    --color-blue-03: var(--blue-03);
    --color-black-01: var(--black-01);
    --color-black-01b: var(--black-01b);
    --color-black-02: var(--black-02);
    --color-black-02b: var(--black-02b);
    --color-black-03: var(--black-03);
    --color-black-04: var(--black-04);
    --color-grey-01: var(--grey-01);
    --color-grey-02: var(--grey-02);
    --color-grey-02b: var(--grey-02b);
    --color-grey-02c: var(--grey-02c);
    --color-grey-03: var(--grey-03);
    --color-grey-04: var(--grey-04);
    --color-grey-04b: var(--grey-04b);
    --color-grey-04c: var(--grey-04c);
    --color-grey-05: var(--grey-05);
    --color-grey-06: var(--grey-06);
    --color-grey-06b: var(--grey-06b);
    --color-grey-07: var(--grey-07);
    --color-grey-08: var(--grey-08);
    --color-grey-09: var(--grey-09);
    --color-green-01: var(--green-01);
    --color-pink-01: var(--pink-01);
    --color-red-01: var(--red-01);
    --color-yellow-01: var(--yellow-01);

    /* // Text colors
    "textBlockQuote.background": "#7f7f7f1a",
    "textBlockQuote.border": "#007acc80",
    "textLink.activeForeground": "#3794ff",
    "textLink.foreground": "#3794ff",
    "textPreformat.foreground": "#caaf77",
    "textSeparator.foreground": "#ffffff2e", */

    /* fontz */
    --font-sans: 'CascadiaMono';

    /* custom sizes */
    --item-grid-cols: repeat(auto-fill, minmax(min(250px, 100%), 1fr));

    /* custom breakpointz */
    --breakpoint-lg: 67rem;
}

/*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.
    
    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
    */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@utility tooltip {
    @apply border-grey-04b bg-black-02b text-grey-09 pointer-events-none invisible absolute z-100 mt-2 ml-2 rounded-sm border px-2 pt-1 pb-2 font-[inherit] text-sm leading-[10px] opacity-0 transition group-hover:visible group-hover:opacity-100;
}

@utility listitem {
    @apply border-b-grey-04 border-t-grey-04 text-grey-02 mb-[1.57rem] border-t-[1px] border-b-[1px] p-1 pr-3 text-sm;
}

@utility border-shadow {
    @apply shadow-[0px_0px_11px_0px_#0f0f0f89];
}

@utility input-box-style-one {
    @apply hover:border-grey-01 hover:text-grey-02 -mt-1 w-full cursor-pointer border-0 py-2.5 font-[700] transition-[0.3s];
}

@layer base {
    html,
    pre {
        font-family: 'CascadiaMono', system-ui, sans-serif;

        src: local('CascadiaMono'), url('./assets/fonts/CascadiaMono.ttf');
    }
}
